.header {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFCC66), to(#FFFF99));
  background: linear-gradient(to right, #FFCC66 50%, #FFFF99);
  padding: 180px 144px 200px;
}

@media (max-width: 1200px) {
  .header {
    padding: 80px 15%;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 80px 10%;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 80px 5%;
  }
}

.header h1 {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: 900;
}

@media (max-width: 800px) {
  .header h1 {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 40px;
  }
}

.header p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 1;
}

.header a {
  color: #FFCC66;
  background: #ffffff;
  padding: 15px 40px 15px 20px;
  font-size: 18px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .header a {
    display: block;
  }
}

@media (max-width: 600px) {
  .header a {
    display: block;
  }
}

.header__link {
  text-decoration: none;
  font-weight: 900;
}

.about {
  padding: 100px 300px;
}

@media (max-width: 1200px) {
  .about {
    padding: 80px 20%;
  }
}

@media (max-width: 800px) {
  .about {
    padding: 80px 10%;
  }
}

@media (max-width: 600px) {
  .about {
    padding: 80px 5%;
  }
}

.about__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.about__title__description {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.about__container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .about__container {
    display: block;
    width: 100%;
  }
}

.about__container__image {
  width: 50%;
}

@media (max-width: 600px) {
  .about__container__image {
    width: 100%;
  }
}

.about__container__image img {
  width: 100%;
}

.about__container__text {
  width: 50%;
  margin-left: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
}

@media (max-width: 800px) {
  .about__container__text {
    margin-left: 20px;
    line-height: 1.8;
  }
}

@media (max-width: 600px) {
  .about__container__text {
    width: 100%;
    margin: 20px 0 0;
  }
}

.point {
  background: #f7f7f7;
  padding: 100px 300px;
}

@media (max-width: 1200px) {
  .point {
    padding: 80px 20%;
  }
}

@media (max-width: 800px) {
  .point {
    padding: 80px 10%;
  }
}

@media (max-width: 600px) {
  .point {
    padding: 80px 5%;
  }
}

.point__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.point__title__description {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.point ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 800px) {
  .point ul {
    display: block;
  }
}

.point ul > li:nth-of-type(2) {
  margin: 0 21px;
}

@media (max-width: 800px) {
  .point ul > li:nth-of-type(2) {
    margin: 50px 0 0 0;
  }
}

.point li {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
}

@media (max-width: 800px) {
  .point li {
    margin-top: 50px;
  }
}

.point li > span {
  display: block;
  width: 30px;
  font-size: 32px;
  font-weight: 600;
  font-style: oblique;
  text-align: center;
  margin: 0 auto 20px;
  padding-bottom: 8px;
  border-bottom: 4px solid;
}

.gallery {
  padding: 100px 300px;
}

@media (max-width: 1200px) {
  .gallery {
    padding: 80px 20%;
  }
}

@media (max-width: 800px) {
  .gallery {
    padding: 80px 10%;
  }
}

@media (max-width: 600px) {
  .gallery {
    padding: 80px 5%;
  }
}

.gallery__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.gallery__title__description {
  text-align: center;
  font-weight: 700;
}

.gallery__container {
  margin-top: 50px;
}

.gallery__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.gallery__container li {
  width: calc(50% - 10px);
  margin-top: 20px;
}

.gallery__container li:nth-child(2n) {
  margin-left: 20px;
}

.gallery__container img {
  width: 100%;
  height: auto;
}

.gallery__container ul > li:hover {
  opacity: .7;
}

.recommend {
  background: #f7f7f7;
  padding: 100px 300px;
}

@media (max-width: 1200px) {
  .recommend {
    padding: 80px 20%;
  }
}

@media (max-width: 800px) {
  .recommend {
    padding: 80px 10%;
  }
}

@media (max-width: 600px) {
  .recommend {
    padding: 80px 5%;
  }
}

.recommend__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.recommend__title__description {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.recommend__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .recommend__content {
    display: block;
  }
}

.recommend__content__list {
  background: #ffffff;
  width: 100%;
  margin: auto;
  padding: 50px 30px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.recommend__content__list h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1;
}

.recommend__content__list h3 {
  font-size: 50px;
}

.recommend__content__list h3 > span {
  font-size: 30px;
}

.recommend__content__list li > p {
  font-size: 18px;
  font-weight: 500;
  background: #f7f7f7;
  padding: 10px;
  margin-bottom: 20px;
}

.recommend__content ul:nth-of-type(2) {
  margin-left: 30px;
}

@media (max-width: 800px) {
  .recommend__content ul:nth-of-type(2) {
    margin: 30px 0 0 0;
  }
}

.reserve {
  background: #f7f7f7;
  padding: 100px 300px;
}

@media (max-width: 1200px) {
  .reserve {
    padding: 80px 20%;
  }
}

@media (max-width: 800px) {
  .reserve {
    padding: 80px 10%;
  }
}

@media (max-width: 600px) {
  .reserve {
    padding: 80px 5%;
  }
}

.reserve__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 800px) {
  .reserve__title {
    font-size: 32px;
  }
}

.reserve__title__description {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 100px;
}

.reserve__form {
  width: 200px;
  text-align: center;
  background: #FFCC66;
  margin: auto;
  padding: 15px 0;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .reserve__form {
    width: 80%;
  }
}

.reserve__form__btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

footer {
  background: #444;
  padding: 15px 0;
}

footer p {
  text-align: center;
  color: #eeeeee;
  font-size: 14px;
  font-weight: 600;
}
/*# sourceMappingURL=styles.css.map */