.header {
  color: #ffffff;
  background: linear-gradient(to right, #FFCC66 50%, #FFFF99);
  padding: 180px 144px 200px;
  h1 {
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: 900;
  }
  p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1;
  }
  a {
    color: #FFCC66;
    background: #ffffff;
    padding: 15px 40px 15px 20px;
    font-size: 18px;
  }  
  &__link {
    text-decoration: none;
    font-weight: 900;
  }
}

.about {
  padding: 100px 300px;
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    &__description {
      text-align: center;
      font-weight: 700;
    }
  }
  &__container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    &__text {
      margin-left: 40px;
      font-size: 18px;
      font-weight: 500;
      line-height: 2.5;
    }
  }
}

.point {
  background: #f7f7f7;
  padding: 100px 300px;
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    &__description {
      text-align: center;
      font-weight: 700;
    }
  }
  ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  ul > li:nth-of-type(2) {
    margin: 0 21px;
  }
  li {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
  }

  li > span {
    display: block;
    width: 30px;
    font-size: 32px;
    font-weight: 600;
    font-style: oblique;
    text-align: center;
    margin: 0 auto 20px;
    padding-bottom: 8px;
    border-bottom: 4px solid;
  }
}

.gallery {
  padding: 100px 300px;
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    &__description {
      text-align: center;
      font-weight: 700;
    }
  }
  // &__container {
  //   margin-top: 50px;
  //   ul {
  //     display: grid;
  //     grid-template-columns: 422px 422px;
  //     grid-template-rows: repeat(4, 290px);
  //     justify-items: center;
  //     align-items: center;
  //   }
  // }
  
}

.recommend {
  padding: 100px 300px;
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    &__description {
      text-align: center;
      font-weight: 700;
    }
  }
}