$pc: 1200px; // PC
$tab: 800px; // タブレット
$sp: 600px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.header {
  color: #ffffff;
  background: linear-gradient(to right, #FFCC66 50%, #FFFF99);
  padding: 180px 144px 200px;
  @include pc {
    padding: 80px 15%;
  };
  @include tab {
    padding: 80px 10%;
  };
  @include sp {
    padding: 80px 5%;
  };
 
  h1 {
    font-size: 80px;
    margin-bottom: 20px;
    font-weight: 900;
    @include tab {
      font-size: 60px;
    };
    @include sp {
      font-size: 40px;
    };
  }
  p {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1;

  }
  a {
    color: #FFCC66;
    background: #ffffff;
    padding: 15px 40px 15px 20px;
    font-size: 18px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    @include tab {
      // font-size: 32px;
      display: block;
    };
    @include sp {
      // font-size: 24px;
      display: block;
    };
  }  
  &__link {
    text-decoration: none;
    font-weight: 900;
  }
}

.about {
  padding: 100px 300px;
  @include pc {
    padding: 80px 20%;
  };
  @include tab {
    padding: 80px 10%;
  };
  @include sp {
    padding: 80px 5%;
  };
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    &__description {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
    }
  }
  &__container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    @include sp {
      display: block;
      width: 100%;
    };
    &__image{
      width: 50%;
      @include sp {
        width: 100%;
      };
      img {
        width: 100%;
      }
    }
    &__text {
      width: 50%;
      margin-left: 40px;
      font-size: 18px;
      font-weight: 500;
      line-height: 2.5;
      @include tab {
        margin-left: 20px;
        line-height: 1.8;
      };
      @include sp {
        width: 100%;
        margin: 20px 0 0;
      };
    }
  }
}

.point {
  background: #f7f7f7;
  padding: 100px 300px;
  @include pc {
    padding: 80px 20%;
  };
  @include tab {
    padding: 80px 10%;
  };
  @include sp {
    padding: 80px 5%;
  };
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    &__description {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
    }
  }
  ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    @include tab {
      display: block;
    };
    
  }
  ul > li:nth-of-type(2) {
    margin: 0 21px;
    @include tab {
      margin: 50px 0 0 0;
    };
  }
  li {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    @include tab {
      margin-top: 50px;
    };
  }

  li > span {
    display: block;
    width: 30px;
    font-size: 32px;
    font-weight: 600;
    font-style: oblique;
    text-align: center;
    margin: 0 auto 20px;
    padding-bottom: 8px;
    border-bottom: 4px solid;
  }
}

.gallery {
  padding: 100px 300px;
  @include pc {
    padding: 80px 20%;
  };
  @include tab {
    padding: 80px 10%;
  };
  @include sp {
    padding: 80px 5%;
  };
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    &__description {
      text-align: center;
      font-weight: 700;
    }
  }
  &__container {
    margin-top: 50px;
    ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
    }
    li {
      width: calc(50% - 10px);
      margin-top: 20px;
      &:nth-child(2n) {
        margin-left: 20px;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    ul > li:hover {
      opacity: .7;
    }
  }
}

.recommend {
  background: #f7f7f7;
  padding: 100px 300px;
  @include pc {
    padding: 80px 20%;
  };
  @include tab {
    padding: 80px 10%;
  };
  @include sp {
    padding: 80px 5%;
  };
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    &__description {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
    }
  }
  &__content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @include tab {
      display: block;
    }
    &__list {
      background: #ffffff;
      width: 100%;
      margin: auto;
      padding: 50px 30px;
      text-align: center;
      box-sizing: border-box;
      h2 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
        line-height: 1;
      }
      h3 {
        font-size: 50px;
      }
      h3 > span {
        font-size: 30px;
      }
      li > p {
        font-size: 18px;
        font-weight: 500;
        background: #f7f7f7;
        padding: 10px;
        margin-bottom: 20px;
      }
    }
    ul:nth-of-type(2) {
      margin-left: 30px;
      @include tab{
        margin: 30px 0 0 0;
      }
    }
  }
}
.reserve {
  background: #f7f7f7;
  padding: 100px 300px;
  @include pc {
    padding: 80px 20%;
  };
  @include tab {
    padding: 80px 10%;
  };
  @include sp {
    padding: 80px 5%;
  };
  &__title {
    font-size: 48px;
    font-weight:  900;
    text-align: center;
    @include tab {
      font-size: 32px;
    };
    &__description {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      margin-bottom: 100px;
    }
  }
  &__form {
    width: 200px;
    text-align: center;
    background: #FFCC66;
    margin: auto;
    padding: 15px 0;
    border-radius: 5px;
    @include tab {
      width: 80%;
    };
    &__btn {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
footer {
  background: #444;
  padding: 15px 0;
  p {
    text-align: center;
    color: #eeeeee;
    font-size: 14px;
    font-weight: 600;
  }
}